@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

html, body {
  height: 100%;
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #4F5665
}

a {
  text-decoration: none;
  color: #4F5665;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  z-index: 6;
}

.main {
  flex: 1 1 auto;
  z-index: 5;
}

/* -------------------- HEADER STYLES ------------------- */

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 136px;
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: white;
}

.logo {
  width: 148px;
  height: 36.23px;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0B132A;
}

.header-menu {
  margin-top: 59px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  list-style: none;
  margin-right: 40px;
}

.menu-item:hover {
  transform: scale(1.2);
}

.header-buttons {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
}

.button-sign-in {
  width: 53px;
  height: 19px;
  line-height: 18.96px;
  font-size: 16px;
  color: #0B132A;
}

.button-sign-in:hover {
  transform: scale(1.2);
}

.sign-up {
  margin: 0px;
}

.sign-up {
  flex: 0 0 150px;
  border: 1px solid #F53855;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29px;
  width: 150px;
  height: 45px;
}
.sign-up:hover {
  transform: scale(1.2);
}

.button-sign-up {
  font-size: 16px;
  color: #F53855;
}

.menu-btn {
  display: flex; 
  align-items: center;
  position: fixed;
  top: 40px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* -------------------- GET STARTED STYLES ------------------- */

.get-started {
  display: flex;
  justify-content: space-between;
  margin-top: 179px;
  margin-left: 150px;
  margin-right: 83px;
}

.get-started-left {
  width: 555px;
  height: 330px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-started-left > h2 {
  width: 555px;
  height: 140px;
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: #0B132A;
}

.get-started-left > h2 > span  {
  font-weight: bolder;
}

.get-started-left > p {
  width: 555px;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #4F5665;
}

.get-started-btn {
  width: 250px;
  height: 60px;
  left: 155px;
  top: 477px;
  background-color: #F53838;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 20px 10px #F5383859;
  cursor: pointer;
}

.get-started-btn:hover {
  transform: scale(1.1);
}

.btn-get-started {
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.get-started-right { 
  height: 383px;
  width: 40vw;
  max-width: 612px;
}

.get-started-right > img {
  position: relative;
  width: 40vw;
  max-width: 612px;
  height: 383px;
}

/* -------------------- ABOUT-INFO-LINE STYLES ------------------- */

.about-info-line {
  display: flex;
  justify-content: space-around;
  margin-top: 155px;
  padding: 20px;
}

.about-info-line > div {
  display: flex;
  justify-content: space-between;
  width: 145px;
}

.about-info-line > div > div {
  line-height: 100%;
  width: 54px;
}

/* -------------------- FEATURES_MENU STYLES ------------------- */

.features-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 163px;
  padding-bottom: 130px;
}

.features-menu-left {
  width: 35vw;
  margin-left: 183px;
}

.features-menu-left > img {
  width: 35vw;
}

.features-menu-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 30vw;
}

.features-menu-right > h3 {
  width: 383.41px;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.features-menu-right > p {
  width: 427.88px;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.features-menu-right > ul > li {
  list-style: none; 
  background: url(img/li-marker.svg) no-repeat 0 4px; 
  padding-left: 34px; 
  margin-left: -40px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

/* ------PRICING-MENU STYLES--------------*/

.pricing-menu {
  padding-top: 63px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-menu-up {
  text-align: center;
}
.pricing-menu-up > h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}

.pricing-menu-up > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  width: 38vw;
}

.pricing-menu-down {
  margin-top: 60px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.kard {
  margin-left: 50px;
  width: 330px;
  height: 760px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.kard:hover {
  border: 3px solid  #F53838;
}

.kard-radio {
  display: none;
}
input[id = "free"]:checked ~ label[for = "free"] {
  border: 3px solid #F53838;
}

input[id = "standart"]:checked ~ label[for = "standart"] {
  border: 3px solid #F53838;
}
input[id = "premium"]:checked ~ label[for = "premium"] {
  border: 3px solid #F53838;
}
.plan-details {

  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 660px;
}

.plan-details-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.plan-details-down > h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.plan-details-down > h4 > span {
  color: #4F5665;
  font-weight: 400;
}

.select-btn {
  width: 177.88px;
  height: 45px;
  border: 2px solid #F53838;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-select {
  color: #F53838;
}

/*------VPN-MAP-STYLES----------*/

.vpn-map {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vpn-map > h3 {
  width: 383.41px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}

.vpn-map > p {
  width: 555px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}

img[class = "vpn-map"] {
  width: 1060px;
  height: 537.77px;
  margin-bottom: 0px;
}

.sponsored {
  width: 1135.64px;
  height: 208.32px;
  margin-top: 35px;
}

/*------REVIEWS-MENU-STYLES----------*/

.reviews-menu {
  margin-top: 116px;
}

.reviews-menu-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.reviews-menu-up > h3 {
  width: 447.81px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin: 0px;
}

.reviews-menu-up > p {
  width: 555px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin-bottom: 0;
  margin-top: 20px
}

.reviews-menu-middle {
  display: flex;
  justify-content: space-between;
  margin-right: -10px;
  margin-left: 160px;
  margin-top: 60px;
  padding: 0px;
}

.reviews-box {
  width: 400px;
  height: 230px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.reviews-box:last-child {
  margin-right: 0px;
}

.reviews-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.reviews-box-user-menu {
  display: flex;
  justify-content: space-between;
}

.reviews-box-user-menu > img {
  width: 50px;
  height: 50px;
}

.reviews-box-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.reviews-box-user-info > h6 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  height: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.reviews-box-user-info > p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.reviews-box-user-rating {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.reviews-box-user-rating > img {
  height: 12.637450218200684px;
  width: 13.233637809753418px;
  margin-left: 11.38px;
}

.reviews-box-text-content {
  margin-top: 20px;
}

.reviews-box-text-content > p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}

.reviews-menu-down {
  padding: 0;
  margin-top: 60px;
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-menu-down-left {
display: flex;
justify-content: space-between;
}

.reviews-menu-down-left > img {
  width: 30.14px;
  height: 15px;
}

.reviews-menu-down-left > img {
  width: 45px;
  height: 15px;
}

.reviews-menu-down-left > div {
width: 15px;
height: 15px;
background: #DDE0E4;
border-radius: 100%;
margin-left: 15px;
}

.reviews-menu-down-right {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.reviews-menu-down-right > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #F53838;
  margin-left: 20px;
}

.arrow-left {
  width: 20px;
  border: 2px solid #F53838;
  background-color: #F53838;
  position: relative;
  top: 28px;
  left: 18px;
  border-radius: 20%;
}

.arrow-left::before  {
  transform: rotate(50deg);
  width: 12px;
  border: 2px solid #F53838;
  background-color: #F53838;
  content: "";
  position: absolute;
  top: 4.1px;
  left: -5.8px;
  border-radius: 20%;
}

.arrow-left::after  {
  transform: rotate(-50deg);
  width: 12px;
  border: 2px solid #F53838;
  background-color: #F53838;
  content: "";
  position: absolute;
  top: -6px;
  left: -5.8px;
  border-radius: 20%;
}

.arrow-right-btn {
  background-color: #F53838;
}

.arrow-right {
  width: 20px;
  border: 2px solid  white;
  background-color:  white;
  position: relative;
  top: 28px;
  left: 18px;
  border-radius: 20%;
}

.arrow-right::before {
  transform: rotate(-50deg);
  width: 12px;
  border: 2px solid white;
  background-color: white;
  content: "";
  position: absolute;
  top: 3.5px;
  left: 11.5px; 
  border-radius: 20%;
}

.arrow-right::after {
  transform: rotate(50deg);
  width: 12px;
  border: 2px solid white;
  background-color: white;
  content: "";
  position: absolute;
  top: -6.8px;
  left: 11.5px;
  border-radius: 20%;
}

/*--------SUBSCRIBE-MENU-STYLES---------*/

.subscribe-menu {
  margin-left: 150px;
  margin-top: 72px;
  height: 233px;
  width: 1140px;
  padding-left: 70px; 
  padding-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  background: white;
}

.subscribe-menu-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe-menu-left > h3 {
  height: 80px;
  width: 371.61px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: #0B132A;   
  padding: 0;
  margin: 0; 
}

.subscribe-menu-left > p {
  width: 410px;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  color: #4F5665;
  padding: 0;
  margin-top: 20px; 
}

.subscribe-btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  background: #F53838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-subscribe {
  width: 120px;
  height: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

/*-----------FOOTER-STYLES--------------*/

.footer {
  width: 100vw;
  height: 363.12px;
  background: #F8F8F8;
  margin-top: -116.5px;
  padding-top: 180px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}

.footer-left .logo {
  margin-top: 0px;

}

.footer-left > p {
  width: 340px;
  height: 61.57px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-left: 150px; 
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-left > a {
  width: 132px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #AFB5C0;
  margin-left: 150px;
  margin-top: 30px;
}

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 142px;
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.social-medias > a > img {
  background-color: #F53838;
}

.footer-right {
  margin-right: 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
  grid-gap: 10px 125px;
  justify-items: start;
}

.footer-right > a {
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.footer-right > a:hover {
  transform: scale(1.2);
}