@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

html, body {
  height:100%;
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #4F5665
}
a {
  text-decoration: none;
  color: #4F5665;

}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}
.main {
  flex: 1 1 auto;

}

.header__container {
display: flex;
 justify-content: space-around;
 width: 100%;
 height: 136px;
 border: 1px solid black;
 position: fixed;
 left: 0px;
 top: 0px;
}
.logo {

width: 148px;
height: 36.23px;
margin-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;

}
.header__logo {
  font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #0B132A;
}
.header__menu {
  margin-top: 59px;
}
.menu__list {
display: flex;
justify-content: space-between;
margin: 0px;
}

.menu__item {
font-weight: 400;
font-size: 16px;
line-height: 19px;
height: 19px;
list-style: none;
margin-right: 40px;
}




.header__buttons {
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
.sign__up {
margin: 0px;
}

.sign__up {
  flex: 0 0 150px;
  border: 1px solid #F53855;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29px;
  width: 150px;
height: 45px;
}
.button__sign__up {

  font-size: 16px;
  color: #F53855;
 
}


.menu__btn {
  display: flex; 
  align-items: center;
  position: fixed;
  top: 40px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
